@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-inter: Inter;

  --color-light: #ffffff;
  --color-dark: #000000;
  --color-subtle-light: #fafafa;

  --color-primary: #f8492a;
  --color-primary-light: #ffefec;

  --color-accent: #ffcf02;
  --color-accent-2: #323232;

  --color-raw-primary: #007965;
  --color-raw-primary-light: #0079651a;

  --color-raw-accent: #ffcc01;
  --color-raw-accent-light: #ffcf54;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 10px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-primary-light);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-primary-light);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
  .wrapper {
    @apply w-full max-w-screen-md mx-auto my-24;
  }
}
